<h3><i class="fas fa-book-reader"></i>BookMarker</h3>
<div class="section">
    <p class="lead">Save Your Bookmarks and Access from anywhere</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fa fa-google left"></i>Login with google
    </a>
</div>