.login-container
{
    width: 400px;
    margin-top: 50px;
    text-align: center;

}

p
{
    margin: 10px 0 !important;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }