<h3>Add BookMark</h3>
<div class="row">
    <form action="/bookmarks" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label for="title">Title</label>
            </div>
        </div>

     
        <div class="row">
            <div class="input-field">
                <h5>Paste The Address of your bookmar here:</h5>
                <textarea id="link" name="link"></textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>